<html> 
<head> 
<!-- Stylesheets -->
<link rel="stylesheet" href="css/layout.css">
</head>
<body class="cuerpo">
<div class="container">
<div class="form-bg2">
<form method="post" action="/exportar" name="form" >
<br>
<p class="borrar"> Exportar por fecha</p>
br
br
br
<div class="textoeditar2">
<p class="margen2">Desde:<input type="date" name="desde" maxlength="16" required="" class="cidata" value=#{fecha}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hasta:<input type="date" name="hasta" maxlength="16" required="" class="cidata" value=#{fecha}></p>
br
br
br
br
<fieldset>
<legend>Elige un Formato</legend>
<label>
<input type="radio" name="formato" value="txt"  checked="checked"/> Txt
</label>
<label>
<input type="radio" name="formato" value="Db"> Db
</label>
</fieldset>
br
br
br
br
<p class="margen"> <input type="submit" id="Exportar" name="Exportar" value="Exportar" class="btn">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="reset" class="btn"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=/./empleados class="btn">Cancelar</a></p>
</form>


