<html> 
<head> 
</head>
h3 ¿Exportar desde #{desde} hasta #{hasta}? 
<form method="post" action="/listar" name="form" >
p Selecciona formato:
br
p<input type="radio" name="formato1" value"txt" checked/> .txt
p<input type="radio" name="formato2" value"db"> .db
<input type="submit" value="exportar" id="exportar"name="exportar" />
<input type="hidden" name="desdepar" value=#{desdepar}/>
<input type="hidden" name="hastapar" value=#{hastapar}/>
</form>


