<head>
<link rel="shortcut icon" href="images/favicon.ico" />
<!-- General Metas -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	<!-- Force Latest IE rendering engine -->
<title>Login Form</title>
<meta name="description" content="">
<meta name="author" content="">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<!-- Stylesheets -->
<link rel="stylesheet" href="/../css/base.css">	
<link rel="stylesheet" href="/../css/layout.css">
</head>
<body>
h3 #{mensaje}
<!-- Primary Page Layout -->
<div class="linea"></div>
<img class="notice" src="../images/logocrear.png">
<div class="container">
<div class="form-bg">
<form method="post" action="/login">
<h2>Iniciar Sesión</h2>
<p><input type="text" placeholder="Nombre de Usuario" name="username"></p>
<p><input type="password" placeholder="Contraseña" name="password"></p>
<label for="remember">
<span></span>
</label>
br
br
<div class="botonlogin"><input type="submit" id="iniciar" name="iniciar" value="Iniciar" class="btn">
</div>
<form>
</div>
</div><!-- container -->
</body>