<html> 
<head> 
<!-- Stylesheets -->
<link rel="stylesheet" href="/../css/layout.css">

</head>
<body class="cuerpo">
<div class="container">
<div class="form-bg2">
<form method="post" action=/empleados name="form" >
<br>
<p class="borrar"> Nuevo Empleado</p>
br
<div class="textoeditar">
p Id:<input name="id" autofocus  value="1" class="iddata" required type="number" min="1" max="3000"/>
p Nombre:<input type="text" name="username"  class="nomdata" required maxlength="20"/>
p Apellido:<input type="text" name="apellido"  class="nomdata"required maxlength="20"/>
p C.I:<input type="text" name="ci"  class="cidata" required maxlength="16"/>
p Fecha Nacimiento:<input type="date" name="nac" value="1990-01-01" class="cidata"/>
p Empresa:<input type="text" name="empresa"  class="cidata" required maxlength="20"/>
p Departamento:<input type="text" name="dpto"  class="cidata"  required maxlength="20"/>
p Acceso:<input type="checkbox" name="acceso">
p <input type="submit" id="grabar" name="grabar" value="Guardar" class="btn">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="reset" class="btn"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" formnovalidate="formnovalidate" value="Cancelar" id="cancelar"name="cancelar" class="btn"/>
</form>


