<html> 
<head> 
<!-- Stylesheets -->
<link rel="stylesheet" href="css/layout.css">

</head>
<body class="cuerpo">
<div class="container">
<div class="form-bg2">
<form method="post" action="/listar" name="form" >
<br>
<p class="borrar"> Nuevo Empleado</p>
br
<div class="textoeditar">
p Id:<input type="text" name="id" autofocus  class="iddata" />
p Nombre:<input type="text" name="username"  class="nomdata"/>
p Apellido:<input type="text" name="apellido"  class="nomdata">
p C.I:<input type="text" name="ci"  class="cidata"/>
p Fecha Nacimiento:<input type="date" name="nac" value="1990-01-01" class="cidata"/>
p Empresa:<input type="text" name="empresa"  class="cidata"/>
p Departamento:<input type="text" name="dpto"  class="cidata"/>
p Acceso:<input type="checkbox" name="acceso">
<input type="hidden" name="user" value=#{user}>
<input type="hidden" name="password" value=#{password}>
<input type="hidden" name="id" value=#{id}>
p <input type="submit" id="grabar" name="grabar" value="Grabar" class="btn">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="reset" class="btn"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Cancelar" id="cancelar"name="cancelar" class="btn"/>
</form>


