<html> 
<head> 
<!-- Stylesheets -->
<link rel="stylesheet" href="css/layout.css">

</head>
<body class="cuerpo">
<div class="container">
<div class="form-bg2">
<form method="post" action="/users" name="form" >
<br>
<p class="borrar"> Nuevo Usuario</p>
br
<div class="textoeditar">
p User:<input type="text" name="username"  class="nomdata" required maxlength="20"/>
p Password:<input type="text" name="apellido"  class="nomdata"required maxlength="20"/>
p <input type="submit" id="grabar" name="grabar" value="Guardar" class="btn">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="reset" class="btn"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" formnovalidate="formnovalidate" value="Cancelar" id="cancelar"name="cancelar" class="btn"/>
</form>


