.informe2{
	width: 0px;
	font-family:  Arial, Geneva, Helvetica, sans-serif;
	color:white;
   background-color:#149c82;
		text-align: center;	
		position: fixed;
		top:10px;
		font-size: 0px;
		border-radius:20px;
		height: 0px;
		left:35%
}
.btn {
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:1px solid #7dc6dd;
}
.botonlogin{
	margin-left:260px;
	margin-top:-20px;
}
.margen{
	margin-left:20%
}
.margen2{
	margin-left:12%
}
.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.textoeditar{
	margin-top:0px;
	    width: 80%;
		text-align: left;	
		color: black;
		position: relative;
		font-size: 16px;
		font-weight: bold;
		height: 10px;
		left:25%;
}
.textoeditar2{
	margin-top:0px;
	    width: 80%;
		text-align: left;	
		color: black;
		position: relative;
		font-size: 16px;
		font-weight: bold;
		height: 10px;
		left:10%;
}
.enlace2{
text-align:center;	
right:2%;
top:8px;
position: fixed;
border:4px solid;
height: 22px;
width: 120px;
border-color:#149c82;
border-radius:15px;
background-color:#E0E0E0;
cursor:pointer;
}
.enlace2 a{
	text-decoration:none;
	color:black;
	font-size:13px;
	font-family: Arial;
}
.textoborrar{
	margin-top:0px;
	    width: 80%;
		text-align: center;	
		color: black;
		position: relative;
		font-size: 16px;
		font-weight: bold;
		height: 10px;
		left:10%;
}
.borrar{
	margin-top:0px;
	    width: 80%;
		text-align: center;	
		color: #e34848;
		position: relative;
		font-size: 18px;
		font-weight: bold;
		height: 10px;
		left:10%;
}
.form-bg2 {
		width: 800px;
		height: 580px;
		border-radius:12px;
		margin: 20px auto 0;
		background: url(../images/form-bg.png) top left;
		padding: 8px 0 0 8px; 
		}
.form-bg2 form {	
		width: 790px;
		height: 570px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		border-radius:9px;	
	}
.informe{
		width: 80%;
		text-align: center;	
		color: #e34848;
		position: fixed;
		top:65px;
		font-size: 14px;
		font-weight: bold;
		height: 60px;
		left:10%;
	}
.enlace{
border:0;
font-size: 16px;
background-color:#E0E0E0;
text-decoration:underline;
color:#000;
cursor:pointer;
}
.export{
color:white;
font-family:  Arial, Geneva, Helvetica, sans-serif;
font-size: 14px;
}
.ver{
    text-align:right;
	margin-right:20px;
	color:white;
	font-family:  Arial, Geneva, Helvetica, sans-serif;
    font-size: 10px;	
}
.imag{	 
	    width: 140px;
		border-right: 2px solid #149c82;
		background:#E0E0E0;
		position: fixed;
		top: 0px;
		height: 45px;
		left:-15px;
		border-radius:10px;
	    border-bottom:2px solid #149c82;
}
.par{
	background:#E0E0E0;
}
.logo{
	    width: 100px;
		position: fixed;
		top: 10px;
		height: 25px;
		left:10px;
}
.barra{
	
		width: 100%;
		background:#149c82;
		text-align: right;
		border-bottom: 0px solid #E0E0E0;
		position: fixed;
		top: 0;
		font-size: 14px;
		font-weight: bold;
		height:47px;
		z-index:auto;
	}
.bienvenido{
	text-align:right;
	margin-right:12%;
	color:white;
	font-family:Arial, Geneva, Helvetica, sans-serif;
    font-size: 14px;
}
.version{
	text-align:right;
	margin-right:100px;
	color:white;
	font-family:Arial, Geneva, Helvetica, sans-serif;
    font-size: 14px;
}
.opciones{
	width:85px;	
}
.fecha{
	width:120px;
}
.id{
	width:30px;	
}
td{
	width:150px;
	height:25px;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 11px;
}
.tabla{
	background-color:white;
	margin-left: 70px;
	border:solid;
}
tr:first-child{
background:#149c82;	
text-align:center;	
color:white;
font-family:  Arial, Geneva, Helvetica, sans-serif;
height:25px;
font-size: 15px;
}
.cuerpo{
	background: url(../images/bg.jpg) #444;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444; 
}		
	h3{
		width: 80%;
		text-align: center;	
		color: #e34848;
		position: fixed;
		top:110px;
		font-size: 14px;
		font-weight: bold;
		height: 100px;
		left:10%;
	}
	.notice {
		width: 22%;
		position: fixed;
		top: 30px;
		height: 65px;
		left:38%;
	}
	.linea{
		width: 100%;
		text-align: center;
		border-bottom: 4px solid #eaeff3;
		position: fixed;
		top: 0;
		font-size: 14px;
		font-weight: bold;
		height: 100px;	
	}
	.form-bg {
		width: 370px;
		height: 248px;
		border-radius:9px;
		margin: 150px auto 0;
		background: url(../images/form-bg.png) top left;
		padding: 8px 0 0 8px; 
		}
	.form-bg form {
		width: 360px;
		height: 239px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		border-radius:4px;		
	}
	.form-bg form h2 {
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
		filter: dropshadow(color=#fff, offx=0, offy=1);
		line-height: 45px;
		margin-bottom: 24px;
		margin-left:25px;
	}
	input[type="text"], input[type="password"], input[type="date"], input[type="number"]{
		box-shadow: 0px 0px 0px 4px #f2f5f7;
		width: 290px;
		height: 33px;
		padding: 0 10px 0 10px;
		margin: 0 auto;
		color: #444;
		border: 1px solid #bec2c4;
	}
	input[type="text"]:focus, input[type="password"]:focus,input[type="date"]:focus,input[type="number"]:focus{
		border:1px solid #7dc6dd;
	}
	input.iddata{
margin-left: 10px;
 width: 80px;
}
input.nomdata{
margin-left: 10px;
}
input.cidata{
margin-left: 10px;
width: 150px;
}
	input[type="checkbox"] {
		vertical-align: middle;
	}
	button {
		width:82px;
		height:32px;
		border:0px;
		float: right;
		margin-right: 24px;
	}
	button:hover {
		width:82px;
		height:32px;
		border:0px;
		float: right;
		margin-right: 24px;
	}	
	button:active {
		width:82px;
		height:32px;
		border:0px;
		float: right;
		margin-right: 24px;
	}		
	label {
		display: inline;
		margin-left: 24px;
		vertical-align: middle;
	}	
	label span {
		color: 555555;
		font-size: 12px;
	}
	p.forgot {
		text-align: center;
		margin-top: 10px;
		margin-left:-55px;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
	}
	p.forgot a {
		color: #cbebf6;
		text-decoration: none;
		transition: color 0.5s linear;
	}
	p.forgot a:hover {
		color: #65c4e5;
	}
	.titulo{    
		width: 400px; 
		height:100px;
		border:0px;
		float: top;
		margin-right: 415px;
		margin-top: 20px;
		margin-left:415px;
		padding: 0; 	
}
	

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/